@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fd;
    font-family: 'Gentium Book Basic', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* need the height to get it to center in the page when using flex */
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container1{
    max-width: 1200px;
    margin: 0 auto;

}

.nav1 {
    position: fixed;
    background-color: #222;
   /* top left and right set to zero makes the bar span all the way across */
    top: 0;
    left: 0;
    right: 0;
    
}

.nav1 .container1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 50px;
    
} 

.nav1 ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav1 a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
}

.nav1.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav1.active a {
    color: #000;
}

.nav1.active .container1 {
    padding: 10px 0;    
}

/* this means nav a current "or" nav a hover */
.nav1 a:hover {
    color: #c0392b;
    font-weight: bold;
}

.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 700px;
    
}

.container .calc {
    height: 500px;
}

.calc h3 {
    margin-left: 15px;
}

.btn {
    color: #3e57db;
    padding: 10px 15px;
    margin-left: 15px;
    margin-bottom: 15px;

}
.title {
    margin: 0;
}

.subtitle {
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header {
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}

.header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.header input:focus {
    outline: none;
}
